body{
    background: #7301ff;
}
#score{
    font-size: 35px;
    margin: 50px;
}
#time{
    font-size: 35px;
    float:right;
    margin: 50px;
}
#whatsketch{
    color:rgba(89, 6, 89, 0.719);
}